.video-container {
    width: 100%;
    min-height: 250px;
    box-sizing: border-box;
    position: relative;
}
.hidden {
    display: none;
    transition: all 0.3s ease;
}
.card {
    margin-bottom : 30px;
}
.btn-play {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}
.btn-play i {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}
.btn-play:hover {
    background-color:rgba(255, 255, 255, 0.9);
}
.btn-play:hover i {
    color: red;
}